header{
    border-bottom: dashed 4px rgb(26, 14, 132);
    padding: 20px;
}

body {
    background-color: dodgerblue;
    color: antiquewhite;   
    font-family: 'Caprasimo';
    font-size: 30 px;
}
h1{
    font-size: 20px;
}
p{
    font-size: 8px
}